.product-container {
  display: flex;
  align-items: center;
}

.product-info {
  margin-left: 20px;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.product-info:hover {
  background-color: #3e8e41;
}

.product-info:active {
  background-color: #4caf50;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.rubrik {
  margin-left: 850px;
}

.searchBar {
  margin-left: 800px;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  padding: 8px;
  border-radius: 20px;
}

html {
  background-color: #3e8e41;
}

.searchBtn {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 855px;
  margin-top: 15px;
}

.searchbar:hover {
  background-color: #3e8e41;
}
